<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:replace="index :: head"></head>
  <body class="p-5">
    <div class="ms-5 me-5">
      <div class="card ms-5 me-5">
        <div class="card-body">
          <h1 class="mb-4">Crear Autor</h1>
          <form th:action="@{/formAutor}" th:object="${autor}" method="post">
            <div class="form-floating mb-3">
              <input
                name="nombre"
                id="nombre"
                type="text"
                th:field="*{nombre}"
                class="form-control"
              />
              <label for="nombre">Nombre</label>
            </div>
            <div
              th:if="${#fields.hasErrors('nombre')}"
              th:errors="*{nombre}"
              class="text-danger"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="apellido"
                id="apellido"
                type="text"
                th:field="*{apellido}"
                class="form-control"
              />
              <label for="apellido">Apellido</label>
            </div>
            <div
              th:if="${#fields.hasErrors('apellido')}"
              th:errors="*{apellido}"
              class="text-danger"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="nacionalidad"
                id="nacionalidad"
                type="text"
                th:field="*{nacionalidad}"
                class="form-control"
              />
              <label for="nacionalidad">Nacionalidad</label>
            </div>
            <div
              th:if="${#fields.hasErrors('nacionalidad')}"
              th:errors="*{nacionalidad}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="fechaNacimiento"
                id="fechaNacimiento"
                type="date"
                th:value="*{fechaNacimiento}"
                class="form-control"
              />
              <label for="fechaNacimiento">Fecha Nacimiento</label>
            </div>
            <div
              th:if="${#fields.hasErrors('fechaNacimiento')}"
              th:errors="*{fechaNacimiento}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="seudonimo"
                id="seudonimo"
                type="text"
                th:field="*{seudonimo}"
                class="form-control"
              />
              <label for="seudonimo">Seudonimo</label>
            </div>
            <div
              th:if="${#fields.hasErrors('seudonimo')}"
              th:errors="*{seudonimo}"
              class="text-danger"
              style="color: red"
            ></div>

            <input type="submit" value="Crear Autor" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
