<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:replace="index :: head"></head>
  <body class="p-5">
    <div class="ms-5 me-5">
      <div class="card ms-5 me-5" >
        <div class="card-body">
          <h1 class="mb-4">Crear Libro</h1>
          <form th:action="@{/formLibro}" th:object="${libro}" method="post">
            <div class="form-floating mb-3">
              <input
                name="titulo"
                id="titulo"
                type="text"
                th:field="*{titulo}"
                class="form-control"
              />
              <label for="titulo">Titulo</label>
            </div>
            <div
              th:if="${#fields.hasErrors('titulo')}"
              th:errors="*{titulo}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mt-3 mb-3">
              <select
                id="autor"
                type="text"
                th:field="*{autor}"
                class="form-select"
              >
                <option value="">Seleccione al autor</option>
                <option
                  th:each="autor: ${autores}"
                  th:text="${autor.nombre}+' '+${autor.apellido}"
                  th:value="${autor.id}"
                ></option>
              </select>
              <label for="autor">Autor</label>
            </div>
            <div
              th:if="${#fields.hasErrors('autor')}"
              th:errors="*{autor}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mt-3 mb-3">
              <select
                id="categoria"
                type="text"
                th:field="*{categoria}"
                class="form-select"
              >
                <option value="">Seleccione la categoria</option>
                <option
                  th:each="categoria: ${categorias}"
                  th:text="${categoria.descripcion}"
                  th:value="${categoria.id}"
                ></option>
              </select>
              <label for="categoria">Categoria</label>
            </div>
            <div
              th:if="${#fields.hasErrors('categoria')}"
              th:errors="*{categoria}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="descripcion"
                id="descripcion"
                type="text"
                th:field="*{descripcion}"
                class="form-control"
              />
              <label for="descripcion">Descripción</label>
            </div>
            <div
              th:if="${#fields.hasErrors('descripcion')}"
              th:errors="*{descripcion}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="anio"
                id="anio"
                type="number"
                th:field="*{anio}"
                class="form-control"
              />
              <label for="anio">Año</label>
            </div>
            <div
              th:if="${#fields.hasErrors('anio')}"
              th:errors="*{anio}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="isbn"
                id="isbn"
                type="text"
                th:field="*{isbn}"
                class="form-control"
              />
              <label for="isbn">ISBN</label>
            </div>
            <div
              th:if="${#fields.hasErrors('isbn')}"
              th:errors="*{isbn}"
              class="text-danger"
              style="color: red"
            ></div>

            <div class="form-floating mb-3">
              <input
                name="cantPaginas"
                id="cantPaginas"
                type="number"
                th:field="*{cantPaginas}"
                class="form-control"
              />
              <label for="cantPaginas">Cantidad de paginas</label>
            </div>
            <div
              th:if="${#fields.hasErrors('cantPaginas')}"
              th:errors="*{cantPaginas}"
              class="text-danger"
              style="color: red"
            ></div>
            <input type="submit" value="Crear Libro" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
