<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:replace="index :: head"></head>
  <body class="p-5">
    <div class="ms-5 me-5">
      <div class="card ms-5 me-5">
        <div class="card-body">
          <h1 class="mb-4">Crear Categoria</h1>
          <form
            th:action="@{/formCategoria}"
            th:object="${categoria}"
            method="post"
          >
            <div class="row">
              <div class="col-9">
                <div class="form-floating mb-3">
                  <input
                    name="descripcion"
                    id="descripcion"
                    type="text"
                    th:field="*{descripcion}"
                    class="form-control"
                  />
                  <label for="descripcion">Descripcion</label>
                </div>
                <div
                  th:if="${#fields.hasErrors('descripcion')}"
                  th:errors="*{descripcion}"
                  class="text-danger"
                  style="color: red"
                ></div>
              </div>
              <div class="col-3">
                <input
                  type="submit"
                  value="Crear Categoria"
                  class="btn btn-primary btn-lg"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
