<!DOCTYPE html>
<html>

<head th:replace="index :: head"></head>

<body>
	<header th:replace="index :: header"></header>
	<br />
	<div class="ms-5 me-5">
		<div class="card ms-5 me-5">
			<div class="card-body">
				<h1 class="mb-4">Modificar Usuario</h1>
				<form th:action="@{/modUsuario}" th:object="${usuario}" method="post">
					<div class="form-floating mb-3">
						<input name="username" id="username" type="text" th:field="*{username}" th:value="${usuario.id}"
							class="form-control" disabled />
						<label for="username">Nombre de Usuario</label>

					</div>

					<div class="form-floating mb-3">
						<input name="password" id="password" type="password" th:value="password"
							class="form-control" />
						<label for="password">Nueva Contraseña</label>
						<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"
							style="color: red"></div>
					</div>

					<div class="form-floating mt-3 mb-3">
						<select id="rol" type="text" th:field="*{rol}" class="form-select">
							<option value="">Seleccione un rol</option>
							<option th:each="rol: ${roles}" th:text="${rol.authority}" th:value="${rol.id}"
								th:if="${rol.id==usuario.rol.id}"></option>
							<option th:each="rol: ${roles}" th:text="${rol.authority}" th:value="${rol.id}"
								th:if="${rol.id!=usuario.rol.id}"></option>
						</select>
						<label for="rol">Rol</label>
						<div th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}" class="text-danger"
							style="color: red"></div>
					</div>


					<input type="submit" value="Modificar Usuario" class="btn btn-primary btn-lg" />
				</form>
			</div>
		</div>
	</div>
</body>

</html>