<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:replace="index :: head"></head>
  <body >
  <header th:replace="index :: header"></header>
<br/>
    <div class="ms-5 me-5">
      <div class="card ms-5 me-5">
        <div class="card-body">
          <h1 class="mb-4">Modificar Categoria</h1>
          <form
            th:action="@{/modCategoria}"
            th:object="${categoria}"
            method="post"
          >
            <div class="form-floating mb-3">
              <input
                name="id"
                id="id"
                type="number"
                th:field="*{id}"
                th:value="${categoria.id}"
                readonly="readonly"
                class="form-control"
              />
              <label for="id">Identificador</label>
            </div>

            <div class="form-floating mb-3">
              <input
                name="descripcion"
                id="descripcion"
                type="text"
                th:field="*{descripcion}"
                th:value="${categoria.descripcion}"
                class="form-control"
              />
              <label for="descripcion">Descripción</label>
            </div>
            <div
              th:if="${#fields.hasErrors('descripcion')}"
              th:errors="*{descripcion}"
              class="text-danger"
            ></div>

            <input
              type="submit"
              value="Modificar Categoria"
              class="btn btn-primary"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
