<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body style="background-color: #272537;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/home" target="miContenedor">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/crearLibro" target="miContenedor">Crear
						Libro</a></li>
				<li class="nav-item"><a class="nav-link" href="/listaLibro" target="miContenedor">Lista
						Libros</a></li>
				<li class="nav-item"><a class="nav-link" href="/crearAutor" target="miContenedor">Crear
						Autor</a></li>
				<li class="nav-item"><a class="nav-link" href="/listaAutor" target="miContenedor">Lista
						Autores</a></li>
				<li class="nav-item"><a class="nav-link" href="/crearCategoria" target="miContenedor">Crear
						Categoria</a></li>
				<li class="nav-item"><a class="nav-link" href="/listaCategoria" target="miContenedor">Lista
						Categoria</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="m-3" style="height:900px;">
	<iframe src="/home" name="miContenedor" style="height:100%; width:100%;" >
	</iframe>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>