<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="index :: head"></head>

<body style="background-color: #272537; color:white;">
	<header th:replace="index :: header"></header>
	<br />
	<div class="container py-4">
		<div style="display: flex; justify-content: center;">
			<img style="width: 400px;"
				src="https://cdn.pixabay.com/photo/2013/04/01/10/55/prohibited-98614_960_720.png">
		</div>
		<br />
		<div style="text-align: center;">
			Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, usted no tiene los permisos
			suficientes para acceder a esta ruta
		</div>
		<br />
		<div style="text-align: center;">
			<a th:href="@{/home}" class="btn btn-primary" role="button">
				Ir al inicio
			</a>
		</div>
	</div>

</body>

</html>