<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Categoria</title>
</head>
<body>
	<div style="text-align:center;padding:50px;display:flex;justify-content:center;">
	<table style="background-color: white; border:black 1px solid;border-collapse: collapse;">
		<thead>
			<tr>
				<th style="border:black 1px solid; padding:10px 20px">ID</th>
				<th style="border:black 1px solid; padding:10px 20px">Descripción</th>
				<th style="border:black 1px solid; padding:10px 20px">Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${categorias != null}" th:each="categoria: ${categorias}">
				<td th:text="${categoria.id}"></td>
				<td th:text="${categoria.descripcion}"></td>
				<td><a th:href="@{/eliminarCat/}+${categoria.id}">Eliminar</a> <a
					th:href="@{/modificarCat/}+${categoria.id}">Modificar</a></td>

			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>